html {
	background-color: #E9E9E9;
	font-family: 'Helvetica Neue';
}



#being-header {
	padding-top: 20px;
	padding-bottom: 6px;
}

.title-wrapper{
	width: 75%;
	padding-left: 28%;
	display: block;
	left: auto;
 	right: auto;
}

h1 {
	font-size: 5.0rem;
	font-family: "brandon-grotesque";
	font-style: italic;
	font-weight: 700;
	float:left;
	margin-bottom: 10px;
}

#being-header img {
	height: 50px;
	width: 50px;
	border-radius: 100px;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.40);
	margin-top: 10px;
	margin-left: 10px;
	float:left;
}


#being-name {
	/*padding-top: 5px;*/
	line-height: 10px;
	font-weight: 600;
	margin-top: 14px;
	margin-left: 7px;
	float: left;
}

#being-username {
	margin-top: 0;
	margin-left: 7px;
	float: left;
	color: #8F8F8F;
}

#being-id-wrapper {
	padding-top: 6px;
	position: relative;
	left: 4px;
}

.timeline {
	background-color: white;
	border-radius: 3px;
}

.user-tweet {
	background-color: white;
	padding: 5px;
	padding-top: 8px;
	padding-bottom: 3px;
	border-radius: 3px;
}

.tweet-row {
	border-bottom:1px solid #E9E9E9 ;
}

.user-tweet-avatar {

}

.user-tweet-avatar img {
	border-radius: 4px;
	margin-left: 5px;
	margin-top: 3px;
	height: 170%;
	width: 170%;
}

.user-tweet-content {
	padding-left: 8px;
}

.user-tweet-info {
	margin-left: 10px;
}

.full-name {
	font-weight: 600;
	float: left;
	margin-left: 3px;
	font-size: 13px;

}
.username {
	float: left;
	margin-left: 7px;
	font-size: 13px;
	color: #8F8F8F;

}
.date {
	float: left;
	margin-left: 7px;
	font-size: 13px;
	color: #8F8F8F;

}

.user-tweet-text {
	padding: 2px;
	padding-top: 0px;
	font-size: 16px;
	line-height: 20px;
}

.user-tweet-engagement {
	padding-top: 5px;
}

.user-tweet-engagement img{
	opacity: .3;
	margin-right: 40px;
	-webkit-transition: opacity 100ms;
    transition: opacity 100ms;
}

.user-tweet-engagement img:hover{
	opacity: 1;
}